* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title-box {
    width: 100%;
    height: auto;
}

.title {
    color: rgb(235, 226, 226);
    font-family: sans-serif;
    text-align: center;
}

.table {
    width: 100%;
    height: 70vh;
    background: rgb(19, 37, 44);
}

.dashboard {   
    width: 100%;
    background:rgb(28, 28, 46);
}

.buttons {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}

.btn-control {
    margin: 5%;
    border: none;
    border-radius: 3px;
    color: white;
    padding:  3% 2%;
    background: rgb(0, 110, 255);
    width: 60%;    
}

.btn-control:hover {
    background: rgb(75, 143, 233) ;

}

.btn-control:active {
    background: orangered;
    outline:0;
}

.col {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    width: 30%;
    background:yellowgreen;
}

span {
    text-align: center;    
    font-family: monospace;
    font-size: 1.2em;
    width: 60%;
    color: white;
}