* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.table {
    width: 100%;
    height: 65vh;
    background: rgb(19, 37, 44);
}


.circle {
    fill:#ff000087;
}


.dashboard {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;

}

.myForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
}

.edit-form {
    margin: 0 50px;
    padding: 0;
}

.errors {
    color: tomato;

}
